@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Source+Sans+Pro:wght@300;400;600&display=swap');

:root {
    --bg-main: #FFF;
    --bg-secondary: #F2F6FA;
    --main: #19C3FB;
    --secondary: #FFCD00;
    --text-main: #0A0A0A;
    --text-secondary: #FFF;
    --font-main: 'Source Sans Pro', sans-serif;
    --font-secondary: 'Libre Baskerville', serif;
}

* {
    font-family: var(--font-main);
}

body {
    background-color: var(--bg-secondary);
}

h1 {
    font-family: var(--font-secondary);
    font-weight: 700 !important;
}

p {
    font-weight: 600;
}

.search-container {
    background-color: var(--bg-main);
}

#today-container {
    background-color: var(--bg-main);
    border-radius: 0.375rem;
}

.date-block {
    background-color: var(--main);
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    color: var(--text-secondary);
    height: 200px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#fiveday-forecast {
    background-color: var(--bg-main);
    border-radius: 0.375rem;
}

#search-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--main);
    border-color: var(--main);
}

.city-history {
    --bs-btn-color: var(--text-main);
    --bs-btn-bg: var(--bg-secondary);
    --bs-btn-border-color: var(--bg-secondary);
    --bs-btn-hover-color: var(--text-main);
    --bs-btn-hover-bg: var(--bg-secondary);
    --bs-btn-hover-border-color: var(--bg-secondary);
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: var(--text-main);
    --bs-btn-active-bg: var(--bg-secondary);
    --bs-btn-active-border-color: var(--bg-secondary);
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: var(--bg-secondary);
    --bs-btn-disabled-bg: var(--bg-secondary);
    --bs-btn-disabled-border-color: var(--bg-secondary);
}

#delete-btn {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--text-main);
}

.fa-temperature-arrow-down {
    color: var(--main);
}

.fa-temperature-arrow-up {
    color: var(--secondary);
    margin-left: 1rem;
}

#todays-date {
    background-color: var(--secondary);
    border-radius: 5rem;
    color: var(--text-main);
    margin-bottom: .25rem;
    width: fit-content;
}

#current-city {
    font-family: var(--font-secondary);
    margin-bottom: 0;
}

#tempurature {
    font-size: 3rem;
    font-family: var(--font-secondary);
}

#weather-icon {
    height: 150px;
}
/* .vertical-line {
    rotate: 90deg;
} */